# Базовые вычислительные библиотеки и CUDA
torch==2.4.1
accelerate==0.34.2

# Стек дообучения Hugging Face (Скорректирован под требования marker-pdf)
transformers==4.46.3
peft==0.13.2
bitsandbytes==0.43.3
trl==0.11.4
datasets==2.21.0

# Парсинг документов и логистика данных
pymupdf==1.24.10
marker-pdf==0.3.10
requests==2.32.3
tqdm==4.66.5
rich==13.9.4